<div class="table">
    <div class="table-row">
        <ion-searchbar debounce="500" type="3" (ionClear)="clearEntity()" autofocus (ionChange)="searchEntity($event)" placeholder="{{'message.startSearchEntity' | translate}}"></ion-searchbar>
    </div>
    <div class="table-row last-row">
        <div class="table-cell cell-content-outer-wrapper">
            <div class="cell-content-inner-wrapper">
                <div class="cell-content">
                    <ion-list *ngIf="selectableList">
                        <ng-container *ngFor="let listItem of selectableList">
                                <ion-item *ngIf="!listItem.isSelected"  >
                                        <ion-label  text-wrap>{{listItem.name}}</ion-label>
                                        <ion-checkbox  color="dark" [checked]="listItem.selected"
                                            (click)="checkItem(listItem)"></ion-checkbox>
                                    </ion-item>
                        </ng-container>
                    </ion-list>
                    <ion-list *ngIf="!selectableList?.length">
                        <div class="_flex-box _justify-content-center noDataMsg">
                                 {{ 'message.searchEntities' | translate}}
                        </div>
                    </ion-list>
                </div>
            </div>
        </div>
    </div>
 </div>
 <!-- <div *ngIf="!(selectableList?.length === list?.length)">
    {{list?.length}} -->
    <ion-infinite-scroll [enabled]="!(this.selectableList?.length === totalCount) && this.selectableList?.length > 0" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
 <!-- </div> -->
 