page-user-login {
    .container {
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .innerContainer {
        // background: white;
        width: 90%;
        padding: 20px 10px;
        // border: 1px solid #eee;
        // border-radius: 5px;
    }
    .imageAdj {
        width: 50%;
    }
    .imageConatiner {
        margin-bottom: 50px;
        margin-top: 100px;
    }
    .scroll {
        height: 100%;
    }
    .mainConatiner {
        background: $white-color
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center
    }
}
