<ion-header>
  <header [title]="'headings.dashboard'|translate"  [showClose]="true" [disableNetwork]="true">
  </header>
</ion-header>


<ion-content >
  <div padding-left padding-right ><h5>{{evidenceMethod}} - {{sectionName}}</h5></div>
  <div class="_flex-box _flex-wrap" margin-top>
    <div class="container _flex-box _justify-content-center" (click)="goToQuestion(i)" *ngFor="let question of questions; let i = index" >
      <span class="wrapper _flex-box _justify-content-center" [ngClass]="{'currentView': i === currentViewIndex}">
          <ion-icon class="block pending _flex-box color-green _justify-content-center" name="checkmark" *ngIf="isQuestionComplete(question)" ></ion-icon>
          <!-- <ion-icon name="checkmark-circle-outline" *ngIf="isQuestionComplete(question)"></ion-icon>
           -->
           <ion-icon class="block pending black-color _flex-box _justify-content-center" name="help" *ngIf="!isQuestionComplete(question)"></ion-icon>
          <!-- <span class="block pending _flex-box _justify-content-center"  [ngClass]="{'completed': isQuestionComplete(question), 'currentView': i === currentViewIndex}">{{i+1}}</span> -->
      </span>
    </div>
  </div>

</ion-content>