progress-bar {
    .progress-outer {
        width: 100%;
        text-align: center;
        color: $white-color;
    }

    .progress-inner {
        min-height: 12px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 10px;
        font-weight: 500;
    }

    .completed {
        border: 1px solid map-get($colors, secondary) !important;

        div {
            background-color: map-get($colors, secondary) !important;
        }
    }

    .inProgress {
        border: 1px solid $orange-color;

        div {
            background-color: $orange-color;
        }
    }
}