<!--
  Generated template for the AddObservationFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [title]="'headings.addObservation'|translate" [hideBack]="false" [showClose]="true" [disableNetwork]="true"
    [showMenu]="false">
  </header>
  <!-- <header [title]="'headings.observations'|translate" [hideBack]="true" [showClose]="true" [disableNetwork]="true"> -->

</ion-header>





<ion-content padding-top *ngIf="addObservationForm">

  <ion-stepper [mode]="'horizontal'" #stepper (selectIndexChange)="selectChange($event)">


    <ion-step label="Details" style="position: fixed;">
      <div  class="fixBox">
        <dynamic-form [formFields]="addObservationData" [form]="addObservationForm"></dynamic-form>
      </div>
     
    </ion-step>


    <ion-step >
        <div top class="_flex-box ">

            <ion-item padding-bottom>
              <ion-input type="text" placeholder="Search observation"></ion-input>
                <!-- <ion-label>Tyoe</ion-label> -->
                <!-- <ion-select [(ngModel)]="observationStatus">
                  <ion-option *ngFor="let status of statusOption" value="{{status.value}}">{{status.label}}</ion-option>
                </ion-select> -->
              </ion-item>
      </div>
      <div class="fixBox" >

      <ion-list *ngIf="schoolList">
          <!-- <ion-list-header>
            School List
          </ion-list-header> -->
          <ion-item *ngFor="let school of schoolList">
            <!-- <div class="_flex-box">
              <div text-wrap>
                  {{school.name}}
              </div>
              <div>

              </div>

            </div> -->
            <!-- <ion-item> -->
                <ion-label text-wrap>{{school.name}}</ion-label>
                <ion-checkbox color="dark" [checked]="school.selected" (click)="school.selected = true;"></ion-checkbox>
              <!-- </ion-item> -->
          </ion-item>
          <!-- <ion-item>The Empire Strikes Back</ion-item>
          <ion-item>Blade Runner</ion-item> -->
        </ion-list>

        <!-- <div *ngIf="!(schools?.length === schoolList?.length)" > -->
            <ion-infinite-scroll  (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content 
                loadingSpinner="bubbles"
                loadingText="Loading more data..."></ion-infinite-scroll-content>
              </ion-infinite-scroll>
        </div>
     
    
    </ion-step>


    <ion-step label="Solutions">

      <span class="fixBox" *ngIf="addObservationForm.controls.category.value">
        <span *ngIf="addObservationForm.controls.category.value === 'CO'; else TO">
          <ion-list *ngFor="let frameWork of listOfFrameWork[0]">
            <ion-item (click)="selectSolution(frameWork)" [ngClass]="{'active': frameWork === selectedFrameWork}">
              <ion-icon name="list-box" item-start></ion-icon>
              <h2>{{frameWork.name}} </h2>
              <p>{{frameWork.description}}</p>
              <button ion-button clear item-end (click)="showDetails(frameWork)">View</button>
            </ion-item>
          </ion-list>
        </span>
        <ng-template #TO>
          <ion-list *ngFor="let frameWork of listOfFrameWork[1]">
            <ion-item class="frameWorkList" (click)="selectSolution(frameWork)"
              [ngClass]="{'active': frameWork === selectedFrameWork}">
              <ion-icon name="list-box" item-start></ion-icon>
              <h2 text-wrap>{{frameWork.name}} </h2>
              <p text-wrap>{{frameWork.description}}</p>
              <button ion-button clear item-end (click)="showDetails(frameWork);$event.stopPropagation() ">View</button>
            </ion-item>
          </ion-list>
        </ng-template>
      </span>
       
    </ion-step>
  </ion-stepper>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col *ngIf="selectedIndex !== 0">
        <button ion-button full  (click)="stepper1.previousStep()" class="btnText">
          <!-- <ion-icon name="md-bookmark" margin-right></ion-icon> -->
          {{'buttons.previous' | translate}}
        </button>
        </ion-col>
        <ion-col *ngIf="selectedIndex === 0">

        </ion-col>
        <ion-col *ngIf="selectedIndex !== 2">
        <button ion-button full (click)="stepper1.nextStep()" class="btnText">
          <!-- <ion-icon name="cloud-upload" margin-right></ion-icon> -->
          {{'buttons.next' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="selectedIndex === 2">
          <button ion-button full (click)="addObservation()" class="btnText">
            <ion-icon name="cloud-upload" margin-right></ion-icon>
            {{'buttons.add' | translate}}
          </button>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

