<!--
  Generated template for the ProgramListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [title]="'headings.programList'|translate" [hideBack]="false">
  </header>
</ion-header>


<ion-content padding>
<div *ngIf="programList?.length">
  <ion-item-group *ngFor ="let program of programList;let i = index">
    <ion-item-divider color="light">
      <h2 class="headerText">
        <!-- <ion-icon name="book" margin-right></ion-icon> -->
        <span class="_wrap-text">{{program?.programName}}</span>
      </h2>
    </ion-item-divider>
    <ng-container *ngFor="let solution of program?.solutions;let j = index">
      <ion-item (click)="getReportsAccordingToSolution(program.programId,solution.solutionId, solution.solutionName)">
        <h3>
          <ion-icon name="list-box" margin-right></ion-icon> {{solution?.solutionName}}
          <span float-right *ngIf="!isIos" class=" _flex-box">
            <ion-icon name="arrow-forward" class="_progressIcon" margin-left></ion-icon>
          </span>
          
        </h3>
      </ion-item>


    </ng-container>
  </ion-item-group> 
</div>
<div *ngIf="!programList?.length" class="_flex-box _justify-content-center ">
    {{ 'message.noProgramsFound' | translate}}
  </div>



</ion-content>
