
        <ng-container [ngSwitch]="question?.responseType" *ngFor="let question of data?.pageQuestions; let j=index" margin-bottom>
            <ion-item-divider color="light" *ngIf="question?.sectionHeader">
              <h4  class="bold _flex-box sectionHeader"  text-wrap  >{{question?.sectionHeader}}</h4>
              </ion-item-divider>
          <div class="_fullScreenCard">
            <!-- <div class="_fullScreenCard" *ngIf="checkForVisibility(j)"> -->
            <input-type [inputIndex]="j+1" [data]="question" [generalQuestion]="generalQuestion" [evidenceId]="evidenceId"
              [schoolId]="schoolId" *ngSwitchCase="'text'" [hideButton]="true" [submissionId]="submissionId"></input-type>
            <input-type  [inputIndex]="j+1" [data]="question" [generalQuestion]="generalQuestion" [evidenceId]="evidenceId"
              [schoolId]="schoolId" *ngSwitchCase="'number'" [submissionId]="submissionId" [hideButton]="true"></input-type>
            <radio-type [inputIndex]="j+1" [data]="question" [generalQuestion]="generalQuestion" [evidenceId]="evidenceId"
              [schoolId]="schoolId" *ngSwitchCase="'radio'" [submissionId]="submissionId" [hideButton]="true"></radio-type>
            <date-type  [inputIndex]="j+1" [data]="question" [generalQuestion]="generalQuestion" [evidenceId]="evidenceId"
              [schoolId]="schoolId" *ngSwitchCase="'date'" [submissionId]="submissionId" [hideButton]="true"></date-type>
            <slider [inputIndex]="j+1" [evidenceId]="evidenceId" [schoolId]="schoolId" [data]="question"
              [imageLocalCopyId]="localImageListKey" [submissionId]="submissionId" *ngSwitchCase="'slider'"></slider>

            <multiple-choice-type  [inputIndex]="j+1" [data]="question" [generalQuestion]="generalQuestion" [evidenceId]="evidenceId"
              [schoolId]="schoolId" *ngSwitchCase="'multiselect'" [submissionId]="submissionId" [hideButton]="true"></multiple-choice-type>
            
              <matrix-type [inputIndex]="j + 1" [evidenceId]="evidenceId" [schoolId]="schoolId" [data]="question"
          [imageLocalCopyId]="localImageListKey" [submissionId] = "submissionId" (updateLocalData)="updateLocalDataInPageQuestion()" *ngSwitchCase="'matrix'">
        </matrix-type>
          </div>
        </ng-container>

