<ion-header>
  <header [title]="'headings.editSchoolProfile'|translate" [hideBack]="false">

  </header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{schoolName}}
    </ion-card-header>
    <ion-card-content>
        <ng-container *ngFor="let field of schoolProfile">

      <ion-list radio-group [(ngModel)]="field.value">
          <ion-item class="adjust"
            *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'text' || field?.input === 'number' || field?.input === 'date' || field?.input === 'textarea' || field?.input === 'slider')">
            <ion-label color="primary" floating>{{field?.label}}</ion-label>
            <ion-input type="field?.input" [(ngModel)]="field.value"  [readonly]="!field.editable"></ion-input>
          </ion-item>
          <ion-item class="adjust"
            *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'select' || field?.input === 'multiselect' )">
            <ion-label>{{field?.label}}</ion-label>
            <ion-select [multiple]="field?.input === 'multiselect'" [(ngModel)]="field.value" >
              <ion-option *ngFor="let option of field?.options" value="{{option?.value}}" >{{option.label}}</ion-option>
            </ion-select>
          </ion-item>
          <ng-container *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'radio')">
            <ion-label  color="primary" margin-left>{{field?.label}}</ion-label>
            
            <ion-item  *ngFor="let option of field?.options">
              <ion-label>{{option?.label}}</ion-label>
              <ion-radio  name="start" value="{{option?.value}}"></ion-radio>
            </ion-item>
          <!-- <div class="_pt-5"  *ngIf=" field?.input === 'radio' || field?.input === 'select' || field?.input === 'multiselect' ||field?.input === 'checkbox' "> -->
        </ng-container>
      </ion-list>
    </ng-container>


      
      <!-- <ion-list>
          <ion-item class="adjust" *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'select' || field?.input === 'multiselect' )">
              <ion-label>{{field?.label}}</ion-label>
              <ion-select [multiple]="field?.input === 'multiselect'">
                <ion-option  *ngFor="let option of field?.options" value="option.value">{{option.label}}</ion-option>
              </ion-select>
          </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button float-left block (click)="updateProfile()">Update</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>