<ion-header>
  <header [title]="'headings.editSchoolProfile'|translate" [hideBack]="false">

  </header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{entityName}}
    </ion-card-header>
    <ion-card-content>
      <ion-list radio-group>
        <ng-container *ngFor="let field of entityProfile">
          <ion-item class="adjust"
            *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'text' || field?.input === 'number' || field?.input === 'date' || field?.input === 'textarea' || field?.input === 'slider')">
            <ion-label color="primary" floating>{{field?.label}}</ion-label>
            <ion-input type="field?.input" [(ngModel)]="field.value"  [readonly]="!field.editable"></ion-input>
          </ion-item>
          <ion-item class="adjust"
            *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'select' || field?.input === 'multiselect' )">
            <ion-label>{{field?.label}}</ion-label>
            <ion-select [multiple]="field?.input === 'multiselect'" [(ngModel)]="field.value" >
              <ion-option *ngFor="let option of field?.options" value="{{option?.value}}" >{{option.label}}</ion-option>
            </ion-select>
          </ion-item>
          <ng-container *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'radio')">
            <ion-label  color="primary" margin-left>{{field?.label}}</ion-label>
            
            <ion-item  *ngFor="let option of field?.options">
              <ion-label>{{option?.label}}</ion-label>
              <ion-radio  name="start" value="{{option?.value}}"></ion-radio>
            </ion-item>
            <ion-item *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'data')">
                <ion-label floating>{{'ionLabel.date' | translate}}</ion-label>
                <ion-input type="field?.input" [(ngModel)]="field.value"  [readonly]="!field.editable"></ion-input>
                  <ion-datetime [disabled]="field?.autoCapture" displayFormat="{{field?.dateFormat}}" 
                  [max]='field?.validation.max ? field?.validation.max : ""'  [(ngModel)]="field.value"
                  (ngModelChange)="checkForValidation()"></ion-datetime>
            </ion-item>
          <!-- <div class="_pt-5"  *ngIf=" field?.input === 'radio' || field?.input === 'select' || field?.input === 'multiselect' ||field?.input === 'checkbox' "> -->


              <!-- <input-type [data]="field" *ngIf="(field?.input === 'text' || field?.input === 'number')&& field?.visible"></input-type> -->

        </ng-container>


    </ng-container>

      </ion-list>


      
      <!-- <ion-list>
          <ion-item class="adjust" *ngIf="field?.field != 'gpsLocation' && field?.visible && ( field?.input === 'select' || field?.input === 'multiselect' )">
              <ion-label>{{field?.label}}</ion-label>
              <ion-select [multiple]="field?.input === 'multiselect'">
                <ion-option  *ngFor="let option of field?.options" value="option.value">{{option.label}}</ion-option>
              </ion-select>
          </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button float-left block (click)="updateProfile()">{{'buttons.update' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>