<!-- Generated template for the ProgramSolutionComponent component -->
<div *ngIf="(showSurvey&&showProgram )|| !showProgram">
  <!-- <div> -->
  <ion-card (click)="redirectOnSoluctionClick()">
    <ion-item text-wrap>
      <div class="_flex-box">
        <div style="flex: 1">
          <h2>{{solution.name}}</h2>
          <p *ngIf="showProgram">{{programList[programIndex]?.name}}</p>
        </div>
        <button
          icon-only
          color="light"
          class="basicButton"
         *ngIf="showProgram"
          (click)="$event.stopPropagation();openActionMenu($event)"
        >
          <ion-icon name="more"></ion-icon>
        </button>
        <ion-icon name="arrow-forward" class="menuIcon" *ngIf="!homePage"></ion-icon>
      </div>
    </ion-item>
  </ion-card>
</div>
