<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [title]="'headings.dashboard'|translate" [hideBack]="false"></header>
</ion-header>

<ion-content padding>
  <h2>{{data?.title ? data?.title : data?.solutionName}}</h2>
  <div *ngFor="let item of data?.reportSections">
    <percentage-column-charts
      [chartData]="item"
      *ngIf="item.chart.type != 'expansion' && item.chart.type != 'expansion-table'"
      (clickOnGraphEventEmit)="clickOnGraphEventEmit($event)"
    ></percentage-column-charts>
    <expansion-panel
      [datas]="item"
      *ngIf="item.chart.type == 'expansion'"
    ></expansion-panel>
    <expansion-table
      [datas]="item"
      *ngIf="item.chart.type == 'expansion-table'"
    ></expansion-table>
  </div>
  <div
    *ngIf="data?.reportSections && !(data?.reportSections.length)"
    class="_flex-box _justify-content-center"
  >
    {{data?.message ? data.message : 'message.ratingPending' | translate}}
  </div>
  <div
    *ngIf="data && !data?.reportSections"
    class="_flex-box _justify-content-center"
  >
    {{ 'message.noReportsFound' | translate}}
  </div>
  <div class="_flex-box _justify-content-center" *ngIf="data?.reportSections && data?.reportSections.length ">
    <button ion-button round class="viewReportBtn" (click)="goToImpSugg()">
      {{'buttons.clickHereToImprove' | translate}}
    </button>
  </div>

  <ion-fab
    bottom
    right
    *ngIf="data?.reportSections && !multiAssessmentsReport  && !submissionId"
  >
    <button ion-fab mini>
      <ion-icon name="more"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="downloadSharePdf('download')">
        <ion-icon name="download"></ion-icon>
      </button>
      <button ion-fab (click)="downloadSharePdf('share')">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
