<div class="_flex-box" margin-top  style="flex-wrap: wrap;">

  <div class="_cards _flex-box _justify-content-center _flex-direction-column" padding>
    <ion-icon name="add" class="_iconAdj"></ion-icon>
    <div>{{'labels.image'|translate}}</div>
    <div class="_overlay" (click)="openActionSheet()"></div>
  </div>

  <div class="_cards _flex-box  _justify-content-center" *ngFor="let image of imageList; let i = index">
    <ion-icon name="trash" class="_closeBtn" (click)="removeImgFromList(i)"></ion-icon>
    <div class="_overlay"></div>
    <img src="{{image}}">
  </div>

</div>
<div *ngIf="imageList?.length <= data?.file?.minCount">
  Min {{data?.file?.minCount}} images required
</div>