<ion-header>
  <header [title]="'headings.individualAssessments'|translate" [hideBack]="false">
  </header>
</ion-header>

<!-- 
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" *ngIf="enableRefresh">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-item-group *ngFor="let program of programs; let i = index">
      <ion-item-divider color="light">
        <h4 class="bold">Program - {{program.name}} ({{program.externalId}})</h4>
      </ion-item-divider>
      <ion-item *ngFor="let assessment of program?.assessments; let j = index" text-wrap>
        <div class="_flex-box">
          <div style="flex:1"
            (click)="assessment?.downloaded ? goToEcm(assessment.id,assessment?.name ) : getAssessmentDetails(i, j) ">
            {{assessment.name}} </div>
          <ion-icon name="cloud-download" class="downloadIcon" (click)="getAssessmentDetails(i, j)"
            *ngIf="!assessment?.downloaded"></ion-icon>
          <ion-icon name="cloud-done" color="primary" class="downloadIcon downloadedIcon" *ngIf="assessment?.downloaded"
            (click)="goToEcm(assessment.id, assessment?.name)"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-card>
  <div class="_flex-box msgContainer" *ngIf="!programs?.length">No Assessments</div>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button full (click)="refresh()" class="btnText">
          <ion-icon name="refresh" margin-right></ion-icon>
          {{'buttons.refresh' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


 -->


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" *ngIf="enableRefresh">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <program-listing *ngIf="programs"
    [programList]="programs"  
    [assessmentlocalStorageName]="assessmentlocalStorageName"
    [entityType]="'individual'" 
    (refreshEvent)="refresh($event)"
    >
    </program-listing>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button full (click)="refresh()" class="btnText">
          <ion-icon name="refresh" margin-right></ion-icon>
          {{'buttons.refresh' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

