matrix-chart {
    .heading {
        background: #f4f4f4;
        padding: 15px 10px;
    }
    .matrixContainer {
        border: 1px solid $dark-grey-color;

        // background: $medium-grey-color;
    }
}