page-observation-reports {
    .filterIcon {
        font-size: 30px; 
        float: right;
        margin: 10px 15px;
        color: $primary-color;
    }
    .reportName {
        text-transform: capitalize; 
        margin-bottom: 0;
        padding: 0 15px;
    }
    .heading {
        margin: 10px 15px;
        color: $dark-grey-color;
    }
}
