<ion-header>
  <header
    [title]="'headings.observationDetails'|translate"
    [hideBack]="false"
  ></header>
</ion-header>

<ion-content>
  <!-- (ionInput)="fileterList($event)" -->
  <ion-searchbar
  *ngIf="selectedSolution?.entityType!='state'"
    [(ngModel)]="search"
    placeholder="Search for {{selectedSolution?.entityType}}"
  ></ion-searchbar>
  <ion-searchbar
  *ngIf="selectedSolution?.entityType=='state'"
    [(ngModel)]="search"
    placeholder="Search for state"
  ></ion-searchbar>
  <!-- TODO:Remove following component as this component function is used in this page only -->
  <!-- <prog-observation-entity-listing
    [programIndex]="programIndex"
    [solutionIndex]="solutionIndex"
    [search]="search"
  >
  </prog-observation-entity-listing> -->
  <!-- <prog-observation-entity-listing
    [entityList]="observationDetails"
    [entityType]="'observations'"
    [observationList]="observationList"
    (refreshEvent)="refresh($event)"
    [selectedObservationIndex]="solutionIndex"
    (openMenuEvent)="openMenu($event)"
    #entityComponent
  >
  </prog-observation-entity-listing> -->
  <!-- <observation-entity-listing
    *ngIf="selectedObservationIndex >= 0"
    [entityList]="observationDetails"
    [entityType]="'observations'"
    [observationList]="observationList"
    (refreshEvent)="refresh($event)"
    [selectedObservationIndex]="selectedObservationIndex"
    (openMenuEvent)="openMenu($event)"
    #entityComponent
  >
  </observation-entity-listing> -->

  <div *ngIf="selectedSolution">
    <!-- <div *ngFor="let sol of selectedSolution[]; let i = index"> -->
    <ion-card>
      <ion-item-group>
        <ion-item-divider color="light">
          <h4 class="bold" text-wrap text-capitalize>
            {{selectedSolution.name}}
          </h4>
        </ion-item-divider>

        <ion-row class="_flex-box justify-content-space-between">
          <ion-col>
            <button
              ion-button
              icon-start
              clear
              small
              float-right
              (click)="addEntity(i)"
            >
              <ion-icon name="add"></ion-icon>
              <div>{{'buttons.addEntity'| translate }}</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-item-sliding
            *ngFor="let entity of selectedSolution?.entities | search:search; let entityIndex = index"
          >
            <ion-item text-wrap>
              <div
                class="_flex-box"
                (click)="goToObservationSubmission(entity)"
              >
                <div style="flex: 1;" text-capitalize>
                  {{entity.name}}
                </div>
                <ion-icon
                  *ngIf="!(entity?.submissions.length > 0)"
                  name="trash"
                  class="downloadIcon"
                  (click)="$event.stopPropagation() ;removeEntity(entity)"
                  margin-left
                ></ion-icon>
                <ion-icon
                  *ngIf="(entity?.submissions.length > 0)"
                  name="arrow-forward"
                  class="_progressIcon"
                  margin-left
                ></ion-icon>
              </div>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
        <ion-list *ngIf="!selectedSolution.entities.length">
          <div class="_flex-box _justify-content-center flex1">
            {{'message.noEntity' | translate}}
          </div>
        </ion-list>
      </ion-item-group>
    </ion-card>
    <!-- </div> -->
  </div>
</ion-content>

<ion-footer no-shadow *ngIf="submissionCount">
  <ion-toolbar position="bottom">
    <ion-row>
      <button ion-button full (click)="openObservationMenu($event)">
        {{'buttons.viewObservationReport'|translate}}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- <ion-footer no-shadow  *ngIf="enableCompleteBtn">
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col *ngIf="observationDetails[0]?.status !== 'completed' && observationDetails[0]?.entities?.length ">
        <button ion-button full (click)="markAsComplete()" class="btnText">
          <ion-icon name="refresh" margin-right></ion-icon>
          {{'buttons.markAsComplete' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
