scatter-chart {
    .heading {
        background: #f4f4f4;
        padding: 15px 10px;
    }
    .errorMsg {
        color: $dark-grey-color;
        text-align: center;
        padding: 20px 0;
    }
    .chart-setup
    {
        width: 100%;
        height: 400px;
        display: block;
    }
}
