<ion-header>
  <header [title]="'headings.createPoll'|translate" [hideBack]="false"></header>
</ion-header>

<ion-content padding>
  <div *ngIf="pollForm">
    <dynamic-form [formFields]="metaForm" [form]="pollForm"></dynamic-form>
  </div>
  <div>
    <h5 (click)="showResponseType=!showResponseType">
      Select Response Type
      <span padding>
        <ion-icon *ngIf="!showResponseType" name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="showResponseType" name="arrow-dropup"></ion-icon>
      </span>
    </h5>
    <div *ngIf="showResponseType">
      <button
        ion-button
        icon-start
        small
        clear
        (click)="responseTypeChange('checkbox')"
        [ngClass]="{highlight: selectedResponseType=='checkbox'}"
      >
        <ion-icon name="checkbox"></ion-icon>
        Multi Select
      </button>
      <button
        ion-button
        icon-start
        small
        clear
        (click)="responseTypeChange('radio')"
        [ngClass]="{highlight: selectedResponseType=='radio'}"
      >
        <ion-icon name="radio-button-on"></ion-icon>
        Single Select
      </button>
      <button
        ion-button
        icon-start
        small
        clear
        (click)="responseTypeChange('emoticons')"
        [ngClass]="{highlight: selectedResponseType=='emoticons'}"
      >
        😀 Emoticons
      </button>
      <button
        ion-button
        icon-start
        small
        clear
        (click)="responseTypeChange('gestures') "
        [ngClass]="{highlight: selectedResponseType=='gestures'}"
      >
        👍 Gestures
      </button>
    </div>
  </div>

  <!-- add options -->
  <div *ngIf="selectedResponseType">
    <poll-option
      [selectedResponseType]="selectedResponseType"
      [options]="options"
      [canEditOption]="true"
      (editAction)="editOption($event)"
    ></poll-option>
    <ion-item>
      <button ion-button icon-end (click)="addOption()">
        Add option
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </div>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button full (click)="saveToDraft()" class="btnText">
          {{'buttons.draft' | translate}}
        </button>
      </ion-col>

      <ion-col>
        <button ion-button full (click)="share()" class="btnText">
          {{'buttons.share' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
