<!-- Generated template for the AttachmentsComponent component -->

<ion-card class="thumbnail-card">
  <img
    [src]="url"
    *ngIf="imageFormats.includes(extension)"
    (click)="openImage(url)"
  />
  <fa
    name="file-video-o"
    class="attachmentIcon"
    *ngIf="videoFormats.includes(extension)"
    (click)="playVideo(url)"
  ></fa>

  <fa
    *ngIf="audioFormats.includes(extension)"
    name="file-audio-o"
    class="attachmentIcon"
    (click)="playAudio(url)"
  ></fa>
  <fa
    class="attachmentIcon"
    name="file-pdf-o"
    *ngIf="pdfFormats.includes(extension)"
    (click)="openDocument(url)"
  ></fa>
</ion-card>
