date-type {
    .capture {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    // .flexbox{
    //     display: flex;
    //     align-items: baseline;
    //     flex-wrap: nowrap;
    // }
    // .noWrap{
    //     white-space: nowrap;
    // }
}
