page-home {
    .headerText {
        font-weight: 500 !important;
        font-size: 1.5rem !important;
    }

    .more {
        color: $blue-color;
    }

    .colorText{
        color: $primary-color;
    }
    .separation {
        border-top: 2px solid $grey-color;
    }

    .viewIcon {
        font-size: 25px;
        padding: 0 15px;
    }

    .overflow {
        width: calc(100% - 70px);
    }

    .homeLi {
        font-size: 1.5rem !important;
    }
    .arrow-forward{
        font-size: 30px;
    }
    .bold {
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    .msgContainer {
        height: 50px;
        justify-content: center;
    }
    .downloadIcon {
        color: $primary-color;
        font-size: 30px;
    }
    .downloadedIcon {
        color: $green-color;
    }

    .menuIcon {
        font-size: 25px;
        padding: 0 15px;
    }
    .observationIcon {
        font-size: 25px;
        margin-right: 10px;
    }

}