<ion-header>
  <header [title]="'headings.home'|translate" [hideBack]="true">

  </header>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-content>
      <!-- Add card content here! -->
      <h2 >{{'labels.welcome'|translate}} {{userData?.name}}!</h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let school of schoolList; let i = index">

    <ion-item-group>
      <ion-item-divider color="light">
        <h3 class="headerText">
          <ion-icon name="book" margin-right float-left></ion-icon>
          <span class="_ellipsis overflow" float-left >{{school?.name}} - {{school?.externalId}}</span>
          <ion-icon name='more' class="viewIcon" float-right large (click)="openMenu($event,school)"></ion-icon>
          <!-- <span float-right class="more">View </span> -->
        </h3>
      </ion-item-divider>
    </ion-item-group>

    <ion-card-content no-padding *ngIf="school && schoolDetails[school._id.toString()]">

      <ion-list>
        <button ion-item (click)="goToSections(school, j)" *ngFor="let evidence of schoolDetails[school._id.toString()]['assessments'][0]['evidences'] |slice:0:3; let j = index">
          <ion-icon name="albums" margin-right></ion-icon>{{ evidence?.name }}
          <span float-right *ngIf="evidence.progressStatus === 'completed'" class="_completed _flex-box">
              {{'labels.completed'|translate}} <ion-icon name="checkmark-circle" class="_progressIcon" margin-left></ion-icon>
          </span>
          <span float-right *ngIf="!evidence.progressStatus" class=" _flex-box">
            <ion-icon name="arrow-forward" class="_progressIcon" margin-left></ion-icon>
          </span>
          <span float-right *ngIf="evidence.progressStatus === 'inProgress'" class="_inProgress _flex-box">
              {{'labels.inprogress'|translate}} <ion-icon name="contrast" class="_progressIcon" margin-left></ion-icon>
          </span>
          <span float-right *ngIf="evidence.progressStatus === 'submitted'" class="_submitted _flex-box">
              {{'labels.submitted'|translate}} <ion-icon name="cloud-done" class="_progressIcon" margin-left></ion-icon>
          </span>

        </button>
        <button ion-item class="more" (click)="gotToEvidenceList(school)" *ngIf="schoolDetails[school._id.toString()]['assessments'][0]['evidences'].length > 3">
          More
        </button>
      </ion-list>
    </ion-card-content>
<!-- 
    <ion-row no-padding class="separation">
      <ion-col class="_justify-content-space-between">
        <button ion-button clear small color="primary" icon-end (click)="goToProfile(school)" >
          <ion-icon name='eye' margin-right></ion-icon>
          {{'buttons.view'|translate}} {{'buttons.profile'|translate}}
        </button>
        <button ion-button clear small color="primary" icon-end (click)="getRatedQuestions(school)">
            <ion-icon name='flag' margin-right></ion-icon>
            {{'buttons.flag'|translate}}
          </button>
        <button ion-button clear small color="primary" icon-end (click)="goToRating(school)">
          <ion-icon name='star' margin-right></ion-icon>
          {{'buttons.ratings'|translate}}
        </button>
      </ion-col>
    </ion-row> -->
    
  </ion-card>
</ion-content>