page-home {
    .headerText {
        font-weight: 500 !important;
        font-size: 1.5rem !important;
    }

    .more {
        color: $blue-color;
    }

    .separation {
        border-top: 2px solid $grey-color;
    }

    .viewIcon {
        font-size: 25px;
        padding: 0 15px;
    }

    .overflow {
        width: calc(100% - 70px);
    }

    .homeLi {
        font-size: 1.5rem !important;
    }

}