matrix-type {
    ion-fab {
        bottom: 80px !important;
        position: fixed;
        z-index: 1;
    }
    .deletOption {
        color: $dark-grey-color;
    }
    .flexbox{
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }
    .noWrap{
        white-space: nowrap;
        width: fit-content;
        
    }
    .wrapText{
        white-space:wrap;
    }
}