<div>
  <ion-col class="_flex-box _justify-content-center _flex-direction-column ">
    <h4 [ngClass] = "{'_validQuestion': data?.completedInstance?.length && (data?.completedInstance?.length === data?.value?.length)}"  >
      <!-- <div class="noWrap">{{inputIndex}} .</div> 
      <div padding-left>
        <div class="wrapText" *ngFor="let question of data.question"> 
        {{question}} 
        </div> 
      </div> -->
      <question-heading [inputIndex]="inputIndex" [data]="data"></question-heading>
    </h4>
  </ion-col>
  <div class="_tip _flex-box "> {{data?.tip}}</div>
  <div>
    <button ion-button float-right clear color="primary" (click)="addInstances()" >{{'buttons.add'|
      translate}} {{data.instanceIdentifier}}</button>
  </div>

  <ion-list>
    <div ion-item text-capitalize class="_flex-box" *ngFor="let instance of data?.value; let i = index" >
      <div class="_flex-box conatiner" (click)="viewInstance(i)" >
          <span [ngClass] = "{'_validQuestion': data?.completedInstance?.includes(i)}"  style="flex:1"> {{data?.instanceIdentifier}} {{i+1}}</span>
          <span class="modified" *ngIf="getLastModified(instance)">Last Modified {{getLastModified(instance)|date:'shortTime'}} {{getLastModified(instance)|date:'mediumDate'}} </span>
      </div>
      <ion-icon name="trash" class="deletOption" item-end margin-right (click)="deleteInstanceAlert(i)"></ion-icon>      
    </div>
  </ion-list>
  <!-- <div>
    <ion-fab bottom right edge (click)="addInstances()">
      <button ion-fab mini color="danger">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div> -->
</div>

<!-- <div class="_footer">
  <ion-row>
    <ion-col>
      <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">Next <ion-icon name="arrow-forward"></ion-icon></button>
      <button ion-button icon-start float-right color="primary" (click)="next('completed')" *ngIf="isLast">
        <ion-icon name="filing"></ion-icon>Save
      </button>
    </ion-col>
  </ion-row>
</div> -->

<!-- <footer-buttons  [isFirst]="isFirst" [isLast]="isLast" (nextAction)="next()" (backAction)="back()"></footer-buttons> -->
