<ion-header>
  <ion-navbar color="primary">
    <div class="_flex-box">
      <ion-title text-capitalize>{{data?.instanceIdentifier}} {{selectedIndex+1 }}</ion-title>
      <ion-icon name="close" isActive="true" class="closeBtn" margin-right float-right (click)="cancel()"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="container">
    <ion-col class="_flex-box _justify-content-center _flex-direction-column ">
      <h4 *ngFor="let question of data.question">{{question}}</h4>
    </ion-col>

    <div *ngFor="let instance of data?.value; let i = index">
      <ng-container *ngIf="selectedIndex ===i">
        <!-- <div text-capitalize padding-top padding-bottom>{{datas?.instanceIdentifier}} {{i+1}}</div> -->
        <ng-container [ngSwitch]="question?.responseType" *ngFor="let question of instance; let j=index" margin-bottom>
          <div class="_fullScreenCard" *ngIf="checkForVisibility(j)">
            <input-type [data]="question" [evidenceId]="evidenceId" [schoolId]="schoolId" *ngSwitchCase="'text'" [hideButton]="true"></input-type>
            <input-type [data]="question" [evidenceId]="evidenceId" [schoolId]="schoolId"  *ngSwitchCase="'number'" [hideButton]="true"></input-type>
            <radio-type [data]="question" [evidenceId]="evidenceId" [schoolId]="schoolId"  *ngSwitchCase="'radio'" [hideButton]="true"></radio-type>
            <date-type [data]="question" [evidenceId]="evidenceId" [schoolId]="schoolId"  *ngSwitchCase="'date'" [hideButton]="true"></date-type>
            <multiple-choice-type [data]="question" [evidenceId]="evidenceId" [schoolId]="schoolId"  *ngSwitchCase="'multiselect'" [hideButton]="true"></multiple-choice-type>
          </div>
        </ng-container>
      </ng-container>
    </div>

  </div>
</ion-content>
<div class="_footer customFooter">
  <ion-row>
    <ion-col>
      <button ion-button icon-start full color="light" (click)="cancel()">
        {{'buttons.cancel'|translate}}
      </button>
    </ion-col>
    <ion-col>
      <!-- <button ion-button icon-end  full float-right color="light" (click)="next()" *ngIf="!isLast">Next <ion-icon name="arrow-forward"></ion-icon></button> -->
      <button ion-button icon-start full float-right color="primary" (click)="update()">
        {{'buttons.save'|translate}}
      </button>
    </ion-col>
    <!-- <button ion-button icon-start full color="primary" (click)="update()" *ngIf="!isLast">
      <ion-icon name="filing"></ion-icon>Save
    </button> -->

  </ion-row>
</div>