<ion-header>
  <ion-navbar>
    <ion-title>{{schoolName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <!-- <ion-card-header>
      
    </ion-card-header> -->
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let field of schoolProfile">
          <ion-item class="adjust" *ngIf="field?.field != 'gpsLocation'">
            <ion-label color="primary" floating>{{field?.label}}</ion-label>
            <ion-input type="field?.input" [(ngModel)]="field.value" readonly="{{!field?.editable}}"></ion-input>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-shadow >
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button float-left block outline (click)="goToPage()">Start Survey</button>
      </ion-col>
      <ion-col>
        <button ion-button float-right block outline>Rating</button>
      </ion-col>
    </ion-row>
    <!-- <button ion-button full>Button</button> -->
  </ion-toolbar>
</ion-footer>