<ion-header>
  <ion-navbar color="primary">
    <div class="_flex-box">
      <ion-title>{{'headings.school' | translate}} {{'headings.profile' | translate}}</ion-title>
      <!-- <ion-icon name="chatboxes" isActive="true" style="color: white !important ;font-size: 24px;padding-right: 10px" -->
        <!-- (click)="feedBack()" margin-right float-right></ion-icon> -->
    </div>


  </ion-navbar>
</ion-header>

<!-- <div>
  <h3>{{schoolName}}</h3>

</div> -->
<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">
      <h3 class="headerText">
        <ion-icon name="book" margin-right></ion-icon> {{schoolName}} 
      </h3>
    </ion-item-divider>

  </ion-item-group>

  <ion-item-group>
    <ng-container *ngFor="let field of schoolProfile">
      <ion-item *ngIf="field?.field != 'gpsLocation' && field?.visible && field?.field != 'name'">
        <div class="customLabel">{{field?.label}}</div>
        <div class="_pt-5">{{field?.value}}</div>
      </ion-item>

    </ng-container>
    <!-- <ion-item>as</ion-item>
    <ion-item>as</ion-item>
    <ion-item>as</ion-item> -->
  </ion-item-group>
  <!-- <ion-card>

    <ion-card-content>
      <ion-item-group>
        <ng-container *ngFor="let field of schoolProfile">
          <ion-item class="adjust" *ngIf="field?.field != 'gpsLocation'">
            <div class="customLabel">{{field?.label}} </div>
            <div> {{field?.value}}</div> 
           <ion-input type="field?.input" [(ngModel)]="field.value" class="clearBorder" readonly="{{!field?.editable}}"></ion-input>
          </ion-item>
        </ng-container>
      </ion-item-group>
    </ion-card-content>
  </ion-card> -->
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goToPage()" class="btnText">
          {{'buttons.start' | translate}} {{'buttons.survey' | translate}}
          <ion-icon name="arrow-forward" margin-left></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button float-right block outline icon-start (click)="goToParentInfo()">
          <!-- <ion-icon name="star" margin-right></ion-icon> -->
          {{'buttons.parentInfo' | translate}}
        </button>
      </ion-col>
    </ion-row>
    <!-- <button ion-button full>Button</button> -->
  </ion-toolbar>
</ion-footer>