
<ion-header>
  <header [title]="'headings.schoolProfile'|translate" [hideBack]="false">

  </header>
</ion-header>

<!-- <div>
  <h3>{{schoolName}}</h3>

</div> -->
<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">
      <h3 class="headerText _flex-box">
        <ion-icon name="book" margin-right></ion-icon>
        <span class="_ellipsis" style="flex: 1">{{schoolName}} </span>
        <ion-icon name="create" float-right margin-right (click)="goToEditProfile()"></ion-icon>
      </h3>
    </ion-item-divider>

  </ion-item-group>

  <ion-item-group>
    <ng-container *ngFor="let field of schoolProfile">
      <ion-item *ngIf="field?.field != 'gpsLocation' && field?.visible && field?.field != 'name'">
        <div class="customLabel">{{field?.label}}</div>
        <div class="_pt-5">{{field?.value}}</div>
      </ion-item>

    </ng-container>
  </ion-item-group>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goToPage()" class="btnText">
          {{'buttons.start' | translate}} {{'buttons.survey' | translate}}
          <ion-icon name="arrow-forward" margin-left></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button float-right block outline icon-start (click)="addParent()">
          <!-- <ion-icon name="star" margin-right></ion-icon> -->
          {{'buttons.parentInfo' | translate}}
        </button>
      </ion-col>
    </ion-row>
    <!-- <button ion-button full>Button</button> -->
  </ion-toolbar>
</ion-footer>