page-bottom-tab {
  .tabs-md .tabbar {
    background: #a63936 !important;
  }
  .tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
    color: #fff;
  }
  .tabs-md .tab-button[aria-selected="true"] {
    color: #fff;
    padding: 0px;
    border-bottom: 5px solid #fff !important;
  }

  .tabs-md .tab-button-icon {
    color: #fff;
  }
  .tabs-md .tab-button {
    color: #fff;
  }
}
