notification-card {
    .dot {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: $primary-color;
        border-radius: 50%;
    }

    .action-notifications {
        text-align: center;
    }

    .old-notification {
        background: $grey-color;
    }

    .new-notification {
        background: $white-color;
    }

    .container {
        margin: 0 !important;
    }

}