notification-card {
    .dot {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: $primary-color;
        border-radius: 50%;
    }
    .notificationCard {
        border-radius: 15px;
        margin: 15px 0;
        box-shadow: 0px 6px 5px rgba(0 ,0 ,0 ,0.16) ;
        // padding: 10px;
        padding: 5px 30px;
    }

    .inactiveDot {
        background-color: $dark-grey-color;
    }

    .action-notifications {
        text-align: center;
    }

    .old-notification {
        background: $medium-grey-color;
    }

    .new-notification {
        background: $primary-color;
        color: $white-color;
    }
    .notificationTitle {
        font-family: 'Raleway-Bold' !important;
        justify-content: space-between;
    }

    .container {
        padding: 0 15px!important;
    }

    .time {
        color: $dark-grey-color;
        font-size: 12px;
    }

    .errorMessage {
        color: $dark-grey-color;
    }
    // .time {
    //     text-transform: capitalize;
    // }

}