<ion-list text-wrap class="container" *ngIf="notifications?.length">
  <div *ngIf="!notifications?.length" class="_errorBox _flex-box errorMessage _justify-content-center">
    {{'message.noUnreadNotifications' | translate}}
  </div>
  <ion-item no-lines class="old-notification notificationCard" [ngClass]="{'new-notification': !notification?.is_read }"
    *ngFor="let notification of notifications;let i = index" (click)="onNotificationClick(notification, i)">
    <div class="notificationTitle _flex-box ">
      <div>{{notification?.title ? notification?.title : notification?.text}}</div>
      <div class="_flex-box" *ngIf="notification?.created_at">
        <ion-icon name="time" style="margin-right:5px"></ion-icon>
        <div>{{momentInstance(notification?.created_at).fromNow(true) +' ago'}}</div>
      </div>
    </div>
    <div class=" _flex-box">
      <!-- <div class="dot" [ngClass]="{'inactiveDot' : notification?.is_read }"></div> -->
      <div style="flex:1">
        <div class="content">{{notification?.text}}</div>
        <!-- <div class="time">{{notification?.created_at| date:'medium'}}</div> -->
      </div>
    </div>
  </ion-item>
  <!-- <ion-item *ngIf="showViewMore ">
    <div class=" _flex-box" (click)="goToAllNotifications()">
      {{'message.viewAll'| translate  }} <ion-icon name="arrow-forward" margin-left></ion-icon>
    </div>
  </ion-item> -->


</ion-list>

<!-- <div class="_errorBox _flex-box errorMessage _justify-content-center">
  <div *ngIf="notifications?.length"
    class=" old-notification notificationCard">
    {{'message.noUnreadNotifications' | translate}}
  </div>
</div> -->

<ion-list text-wrap  class="errorContainer _flex-box" *ngIf="!notifications?.length">
  <ion-item no-lines class="old-notification notificationCard childContainer" >
    {{'message.noUnreadNotifications' | translate}}
  </ion-item>
</ion-list>