
<ion-header>
  <header [title]="'headings.tutorialvideo'|translate" [hideBack]="false">
  </header>
</ion-header>


<ion-content >
  <!-- if video presenet -->
  <div *ngIf="videoList?.length>0">
    <div *ngFor="let video of videoList; let i = index">    
      <ion-card>
        <ion-item text-wrap>
          <div class="_flex-box">
            <ion-icon name="video" class="logoIcon"></ion-icon>   
            <div style="flex:1">
              {{video.title}}
            </div>          
            <ion-icon name="play" class="menuIcon" (click)="playVideo(video.link)"></ion-icon>   
          </div>
        </ion-item>
      </ion-card>
    </div>
  </div>


  <!-- if video not present -->
  <div *ngIf="videoList?.length==0">
    <div class="ion-diagnostics-sheet-title">
      <h3>No videos available</h3>
    </div>
  </div>
    
</ion-content>