<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
<ion-menu side="start" swipeGesture="true" [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title color="primary" padding-top>{{appName}}</ion-title>
      <!-- <div  padding-left padding-bottom class="lightGrey">
       {{currentUser?.getCurrentUserData()?.email}}</div> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="whiteBg">
    <ion-list no-lines>
      <ng-container *ngFor="let page of allPages; let i = index">
        <ion-item
          (click)="goToPage(i)"
          [ngClass]="{activePage: page.active}"
          *ngIf="page?.show"
        >
          <ion-icon
            *ngIf="page.icon"
            name="{{page.icon}}"
            size="large"
            slot="start"
            class="sizeAdj"
            margin-right
          ></ion-icon>
          <div *ngIf="page.image" class="_flex-box">
            <div margin-right>
              <img width="27" src="assets/imgs/unnati.png" />
            </div>
            <div>
              <span style="margin-left: 6px;"
                >{{'tabs.'+page.name | translate}}</span
              >
            </div>
          </div>

          <span *ngIf="page.icon">{{'tabs.'+page.name | translate}}</span>
        </ion-item>
      </ng-container>

      <!-- <ion-item><ion-icon name="book" size="large" slot="start" class="sizeAdj" margin-right></ion-icon>{{'tabs.mySchool' | translate}}</ion-item>
    <ion-item><ion-icon name="help" size="large" slot="start" class="sizeAdj" margin-right></ion-icon>{{'tabs.faqs' | translate}}</ion-item>
    <ion-item><ion-icon name="information-circle" size="large" slot="start" class="sizeAdj" margin-right></ion-icon>{{'tabs.about'| translate}}</ion-item> -->
      <!-- <ion-item>Menu Item</ion-item> -->
      <ion-item class="info">
        <div class="appVersion _flex-box _justify-content-space-between">
          <span *ngIf="appEnvironment !== 'Production'" margin-right
            >{{appEnvironment}}
          </span>
          <span>{{appVersion}}</span>
        </div>
        <!-- <div>hii</div> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<alert-modal
  *ngIf="appUpdateData"
  [notificationMeta]="appUpdateData"
  (closeModal)="closeModal()"
></alert-modal>
