// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$green-color: green;
$grey-color: #FAFAFA;
$font-size-base: 14px;
$font-size-large: 18px;
$white-color : #fff;
$blue-color: #488aff;
$red-color: #DC143C;
$orange-color: #FF8C00;
$toolbar-background: $blue-color;

ion-content {
    background: $grey-color !important;
}

.tabs-md .tabbar {
    background: $white-color !important;
}

._flex-box {
    display: flex;
    align-items: center;
}

._justify-content-center {
    justify-content: center;
}

._flex-direction-column {
    flex-direction: column;
}

._justify-content-space-between{
    justify-content: space-between
}

._tips {
    color: $blue-color;
    position: absolute;
    bottom: 0;
    left: 0;
    // font-size: $font-size-large;
}

._pt-5 {
    padding-top: 5px;
}

._questioner-padding {
    padding-bottom: 60px;
}

._footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100%;
    background: $white-color;
    z-index: 10;
    padding: 5px 16px;
}

._cards {
    // color: $white-color !important;
    width: calc(25% - 8px) !important;
    margin: 0 2px;
    background: $white-color;
    margin-bottom: 10px;
    position: relative;
    height: 75px;
    // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 1px solid #e8eaed;
    border-radius: 6px;

    .iconAdj {
        font-size: 5rem;
    }

    img {
        // align-self: center !important;
        // justify-self: flex-start !important
    }

    overflow: hidden;

    // align-self: center !important;
}

._closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $white-color;
    z-index: 3;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

._container {
    flex-wrap: wrap;
    padding-bottom: 60px;
}

._overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .2)
}

._progressIcon {
    font-size: 2rem;
}

._completed {
    color: $green-color;
}

._inProgress {
    color: $orange-color;
}

._submitted {
    color: $blue-color;
}

._alertCustomCss {
    .alert-message {
        font-weight: 600;
        text-align: center;
        font-size: 4rem;
    }
}