// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$green-color: green;
$grey-color: #FAFAFA;
$dark-grey-color: #808080;
$font-size-base: 14px;
$font-size-large: 18px;
$white-color : #fff;
// $step-circle-active-background-color: #a63936 ;




$stepper-prefix: ionic-stepper;
$step-prefix: ionic-step;

$step-error-color: #f44336;
$step-circle-w: 24px;
$step-circle-h: 24px;
$step-circle-r: 12px;
$step-circle-color: #fff;
:root{
    $step-circle-active-background-color:red ;

}

$step-circle-inactive-background-color: rgba(0, 0, 0, 0.38);

$step-label-size: 14px;
$step-label-active-color: rgba(0, 0, 0, 0.87);
$step-label-inactive-color: rgba(0, 0, 0, 0.38);

$step-line-border: 1px;
$step-line-color: #e0e0e0;



.#{$head-prefix}-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: $step-circle-inactive-background-color;
    color: $step-circle-color;
    transition: background-color 225ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &-error {
      background-color: rgba($step-error-color, 0.38)
    }

    &-active {
      background-color: $step-circle-active-background-color;

      &.#{$head-prefix}-icon-error {
        background-color: $step-error-color;
      }
    }

  }
 
// $blue-color: #488aff;
$blue-color:  #a63936,;

$primary-color: $blue-color;
$red-color: #DC143C;
$orange-color: #FF8C00;
$toolbar-background: $blue-color;
$black-color: #222;

ion-content {
    background: $grey-color !important;
}

.tabs-md .tabbar {
    background: $white-color !important;
}

._flex-box {
    display: flex;
    align-items: center;

}
._justify-content-center {
    justify-content: center;
}
._vertical-center{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._flex-direction-column {
    flex-direction: column;
}

._justify-content-space-between{
    justify-content: space-between
}

._tips {
    color: $blue-color;
    position: absolute;
    bottom: 0;
    left: 0;
    // font-size: $font-size-large;
}

._pt-5 {
    padding-top: 5px;
}

._questioner-padding {
    padding-bottom: 60px;
}

._footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e8eaed;
    background: $white-color;
    z-index: 10;
    padding: 5px 16px;
}

._cards {
    // color: $white-color !important;
    width: calc(25% - 8px) !important;
    margin: 0 2px;
    background: $white-color;
    margin-bottom: 10px;
    position: relative;
    height: 75px;
    // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 1px solid #e8eaed;
    border-radius: 6px;

    .iconAdj {
        font-size: 5rem;
    }

    img {
        // align-self: center !important;
        // justify-self: flex-start !important
    }

    overflow: hidden;

    // align-self: center !important;
}

._fullScreenCard {
    background: $white-color;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 6px;
    padding: 16px;
}

._closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $white-color;
    z-index: 3;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}
._wrap-text{
    white-space: pre-wrap;
}
._container {
    flex-wrap: wrap;
    padding-bottom: 60px;
}

._flex-box{
    flex-wrap: wrap;
}

._overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .2)
}

._progressIcon {
    font-size: 2rem;
}

._completed {
    color: $green-color;
    font-size: 1.2rem;
}

._inProgress {
    color: $orange-color;
    font-size: 1.2rem;
}

._na {
    font-size: 1.2rem;
}

._submitted {
    color: $blue-color;
    font-size: 1.2rem;
}

._alertCustomCss {
    .alert-message {
        font-weight: 600;
        text-align: center;
        font-size: 4rem;
    }
}

._multiLineList {
    overflow: visible;
    white-space: normal;
}

._errorBox {
    height: 50vh;
}

._errorMsg {
    color: $red-color;
    height: 12px;
    margin-top: 5px;
}

._headerIcon {
    color: white !important ;
    font-size: 24px;
    padding-right: 10px;
}

._disconnectedConnection {
    color: $red-color !important;
}

._ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

._validQuestion {
    color: $green-color;
}

._tip {
    color: #777;
    font-size: 1.7rem;
    padding-left: 10px;
}

._toolbar-background-md {
    background-color:  $white-color !important;
}

.sizeAdj {
    min-width: 30px;
   
    font-size: 25px;
}
.activePage {
    color: $primary-color;
    background: $grey-color;
    font-weight: 500;
}

.primaryColor {
    color: $primary-color;
}

.lightGrey {
    color: $dark-grey-color;
}

.whiteBg {
    background: $white-color !important;
}