<ion-header>
  <header [title]="'headings.'+registryType+'Registry'|translate" [hideBack]="true" [showClose]="true" [disableNetwork]="true">

  </header>
</ion-header>


<ion-content padding>
  <div [formGroup]="form" *ngIf="form" style="padding-bottom:60px">

    <div *ngFor="let fromField of formFields">
      <ion-list>
        <ion-item *ngIf="(fromField?.input === 'text' || fromField?.input === 'number')&& fromField?.visible" text-wrap>
          <ion-label floating>{{fromField?.label}}</ion-label>
          <ion-input [formControlName]="fromField.field" [id]="fromField?.field" [type]="fromField?.input"></ion-input>

        </ion-item>

        <ion-item *ngIf="fromField?.input === 'radio' && fromField?.visible">
          <ion-label>{{fromField?.label}}</ion-label>
          <ion-select [formControlName]="fromField.field">
            <ion-option *ngFor="let opt of fromField.options" value="{{opt?.value}}">{{opt?.label}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="fromField?.input === 'multiselect' && fromField?.visible">
          <ion-label>{{fromField?.label}}</ion-label>
          <ion-select [formControlName]="fromField.field"  multiple="true">
            <ion-option *ngFor="let opt of fromField.options" value="{{opt?.value}}">{{opt?.label}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="fromField?.input === 'textarea' && fromField?.visible">
          <ion-label floating>{{fromField?.label}}</ion-label>
          <ion-textarea [formControlName]="fromField.field" [id]="fromField?.field" [type]="fromField?.input"></ion-textarea>
        </ion-item>
      </ion-list>
      <!-- <input-type   
              *ngSwitchCase="'text'"></input-type> -->
      <!-- <input-type [data]="fromField" *ngIf="(fromField?.input === 'text' || fromField?.input === 'number')&& fromField?.visible"></input-type> -->
    </div>

  </div>
</ion-content>

<div class="_footer customFooter">
  <ion-row>
    <ion-col>
      <button ion-button icon-start full color="light" (click)="cancel()">
        {{'buttons.cancel'|translate}}
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start full float-right color="primary" (click)="update()" [disabled]="!form?.valid">
        {{'buttons.save'|translate}}
      </button>
    </ion-col>


  </ion-row>
</div>