alert-modal {
    .modalContainer {
        position: fixed;
        z-index: 5;
        width: 100%;
        // max-width: 300px;
        height: 100%;
        background-color: rgba(0,0,0,.3);

    }

    .modalBody {
        // background: $green-color;
        padding: 20px;
        width: 80%;
        border-radius: 30px;
        flex-direction: column;
        position: relative;
    }

    .boldText {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .title {
        border-bottom: 1px solid $black-color;
        padding-bottom: 10px;
    }

    .description {
        margin: 20px 0;
        font-size: 18px;

    }

    .actionButton {
        text-transform: capitalize;
        font-weight: bolder;
        padding: 20px 50px;
        font-size: 16px;
        border-radius: 5px;
    }

    .closeBtn {
        font-size: 24px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 200;
        color: $dark-grey-color;
    }

    .alignCenter {
        text-align: center;
    }
}