<ion-header>
  <header [title]="'headings.editSchoolProfile'|translate" [hideBack]="false">

  </header>
</ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        {{schoolName}}
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ng-container *ngFor="let field of schoolProfile">
            <ion-item class="adjust" *ngIf="field?.field != 'gpsLocation'">
              <ion-label color="primary" floating>{{field?.label}}</ion-label>
              <!-- readonly="{{!field?.editable}}" -->
              <ion-input type="field?.input" [(ngModel)]="field.value" ></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  <ion-footer no-shadow >
    <ion-toolbar position="bottom">
      <ion-row>
        <ion-col>
          <button ion-button float-left block (click)="updateProfile()">Update</button>
        </ion-col>
        <ion-col>
          <button ion-button float-right block (click)="saveProfile()">Save</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>