page-library {
  .parentContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .card-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex: 50%;

    .cardDetails {
      display: flex;
      justify-content: center;
      align-items: center;
      .cardImg {
        width: 50%;
      }
    }
  }

  .card-md {
    width: calc(100% - 100px);
    border-radius: 20%;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
  }

  .iconName {
    width: min-content;
    text-align: center;
    // line-height: 1.4;
    font-weight: 500;
  }

  .ionCard {
    height: 15vw;
    width: 15vw;
    border-radius: 20%;
  }
}
