  <ion-navbar color="primary" hideBackButton="{{hideBack}}">
    <div class="_flex-box">
      <ion-title>{{ title  }} </ion-title>
      <ion-icon name="chatboxes" isActive="true" class="_headerIcon" (click)="feedback()" margin-right float-right></ion-icon>
      <ion-icon name="wifi" class="_headerIcon" [ngClass]="{'_disconnectedConnection': !networkAvailable}"
        margin-right float-right></ion-icon>
      <!-- <ion-icon name="log-out" isActive="true" style="color: white !important ;font-size: 24px;padding-right: 10px" (click)="logout()" float-right></ion-icon> -->
    </div>
  </ion-navbar>