<ion-navbar color="primary" hideBackButton="{{hideBack}}">
  <button ion-button menuToggle *ngIf="showMenu">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title class="_ellipsis titleAdj textCapital">{{ title  }} </ion-title>
  <!-- <ion-icon name="chatboxes" isActive="true" class="_headerIcon" (click)="feedback()" margin-right float-right></ion-icon> -->

  <ion-buttons end>
    <button ion-button icon-only (click)="closeDashboard()" *ngIf="showClose">
      <ion-icon name="close" isActive="true" class="_headerIcon margin" float-right>
      </ion-icon>
    </button>
    <button ion-button icon-only *ngIf="enableDashboard" (click)="openDashboard()">
      <ion-icon name="map" isActive="true" class="_headerIcon margin" float-right></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="wifi" class="_headerIcon margin" *ngIf="!disableNetwork"
        [ngClass]="{'_disconnectedConnection': !networkAvailable}"></ion-icon>
    </button>
    <button ion-button icon-only (click)="onNotificationClick($event)" *ngIf="!hideNotification">
      <ion-icon name="notifications" class="_headerIcon notificationIcon "></ion-icon>
      <span class="dot _flex-box"
        *ngIf="newNotificationPresent && notificationData.count < 100">{{notificationData.count}}</span>
      <span class="dot _flex-box" *ngIf="newNotificationPresent && notificationData.count >= 100">99+</span>

    </button>

  </ion-buttons>
</ion-navbar>