header {
    .titleAdj {
        // max-width: calc(100% - 40px) !important;
        // text-overflow: ellipsis !important;
        // overflow: hidden !important;
        // white-space: nowrap !important;
        flex: 1;
    }

     .margin {
        margin: 0 8px !important;
    }
    .textCapital{
        text-transform: capitalize;
    }
    .dot{
        width: 18px;
        height: 18px;
        background: $red-color;
        border-radius: 10px;
        position: absolute;
        right: 5px;
        top: 0px;
        z-index: 2;
        justify-content: center;
        color: $white-color;
        font-size: 10px;
        font-weight: bold;
    }
    .relative {
        position: relative;
    }

    .notificationIcon {
        font-size: 28px;
    }
  
}
