page-welcome {
    // .fullWidth {
    //     width: 100%;
    // }

    // ion-slides {
    //     height: calc(100% - 45px) !important;
    // }
    .toolbar-background {
        background: $grey-color !important;
    }
    .swiper-pagination-bullet-active {
        background: $blue-color;
        opacity: 1;
    }

    ion-toolbar {
        position: absolute;
        top: 0;

    }

    .imageAdj {
        width: 70%;
    }
    .conatiner {
        // width: 90%;
        padding:0 20px;
    }
    .content {
        color: $medium-black;
        margin-top: 10px;
    }
    .sticky-footer {
        position: fixed;
        bottom: 1px;
        left: 0;
        right: 0;
        // padding: 10px;
    }
    .alignLeft {
        text-align: left;
        text-justify:justify;
    }
    .skipBtn {
        padding: 30px ;
        font-size: 20px;
    }
    .poweredBy {
        font-size: 12px;
    }

    .blackText {
        color: $black-color;
    }

    .maxSize {
        max-width: 350px;
    }
}