page-welcome {
    // .fullWidth {
    //     width: 100%;
    // }

    // ion-slides {
    //     height: calc(100% - 45px) !important;
    // }
    .toolbar-background {
        background: $grey-color !important;
    }

    // ion-toolbar {
    //     position: absolute;
    //     top: 0;

    // }

    .imageAdj {
        width: 50%;
    }

    .conatiner {
        padding: 0 20px;
        width: 100%;
        flex-direction: column;
    }

    .content {
        color: $medium-black;
        margin-top: 10px;
    }

    .alignLeft {
        text-align: center;
        text-justify: justify;
    }

    .skipBtn {
        padding: 25px 0;
        // font-size: 20px;
        font-size: 16px;
        margin-bottom: 0;
    }

    .getstarted {
        padding: 20px 30px;
        font-size: 16px;
        border-radius: 15px;
        margin: 15px 0;
    }

    .slideTwoMaxSize {
        max-width: 300px;
    }

    .poweredBy {
        font-size: 12px;
    }

    .blackText {
        color: $black-color;
        margin-top: 30px;
    }

    .maxSize {
        max-width: 350px;
    }

    .mainContainer {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .bottomFooter {
        margin-bottom: 22px;;
    }
}