page-welcome {
    // .fullWidth {
    //     width: 100%;
    // }

    // ion-slides {
    //     height: calc(100% - 45px) !important;
    // }
    .toolbar-background {
        background: $grey-color !important;
    }

    ion-toolbar {
        position: absolute;
        top: 0;

    }

    .imageAdj {
        width: 50%;
    }
    .conatiner {
        // width: 90%;
        padding:0 20px;
    }
    .content {
        color: $medium-black;
        margin-top: 10px;
    }
    .sticky-footer {
        position: fixed;
        bottom: 1px;
        left: 0;
        right: 0;
        padding: 10px;
        // padding: 10px;
    }
    .alignLeft {
        text-align: left;
        text-justify:justify;
    }
    .skipBtn {
        padding: 30px ;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .getstarted {
        padding: 25px ;
        font-size: 20px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .poweredBy {
        font-size: 12px;
    }

    .blackText {
        color: $black-color;
    }

    .maxSize {
        max-width: 350px;
    }
}