<ion-header>
  <header [title]="'headings.surveySections'|translate" [hideBack]="false">

  </header>
</ion-header>


<ion-content>
  <!-- <ion-list>
        <button ion-item *ngFor="let section of schoolSections; let i= index " (click)="goToQuestioner(i)">
          {{ section?.name }}
        </button>  
      </ion-list> -->

  <ion-item-group>
    <ion-item-divider color="light">
      <h3 class="headerText">
        <ion-icon name="book" margin-right></ion-icon> {{schoolName}}
      </h3>
    </ion-item-divider>
    <ion-item *ngFor="let section of evidenceSections; let i= index" (click)="goToQuestioner(i)">
      <h3>
        <ion-icon name="list-box" margin-right></ion-icon> {{ section?.name }}
        <span float-right *ngIf="section.progressStatus === 'completed'" class="_completed _flex-box">
          {{'labels.completed'|translate}} <ion-icon name="checkmark-circle" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="!section.progressStatus" class=" _flex-box">
          <ion-icon name="arrow-forward" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="section.progressStatus === 'inProgress'" class="_inProgress _flex-box">
          {{'labels.inprogress'|translate}} <ion-icon name="contrast" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="section.progressStatus === 'submitted'" class="_submitted _flex-box">
          {{'labels.submitted'|translate}} <ion-icon name="cloud-done" class="_progressIcon" margin-left></ion-icon>
        </span>
        <!-- <span float-right *ngIf="section.progressSatatus === 'inProgress'" class="completed _flex-box">
            In Progress <ion-icon name="contrast" margin-left></ion-icon>
          </span> -->
      </h3>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer no-shadow *ngIf="allAnsweredForEvidence && !currentEvidence.isSubmitted">
  <ion-toolbar position="bottom">
    <ion-row>
      <button ion-button full (click)="goToImageListing()">{{'buttons.upload'|translate}} {{'buttons.and'|translate}}
        {{'buttons.submit'|translate}}</button>

      <!-- <button ion-button full (click)="submitEvidence()">Submit {{selectedEvidenceName}}</button> -->
    </ion-row>
  </ion-toolbar>
</ion-footer>