<ion-header>
  <ion-navbar>
    <ion-title>Survey - Sections</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- <ion-list>
        <button ion-item *ngFor="let section of schoolSections; let i= index " (click)="goToQuestioner(i)">
          {{ section?.name }}
        </button>  
      </ion-list> -->

  <ion-item-group>
    <ion-item-divider color="light"><h3>{{schoolName}}</h3></ion-item-divider>
    <ion-item *ngFor="let section of evidenceSections; let i= index" (click)="goToQuestioner(i)">
      <ion-icon name="list-box" margin-right></ion-icon> {{ section?.name }}
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer no-shadow *ngIf="allAnsweredForEvidence && !currentEvidence.isSubmitted">
  <ion-toolbar position="bottom">
    <ion-row>
      <button ion-button full (click)="submitEvidence()">Submit {{selectedEvidenceName}}</button>
    </ion-row>
  </ion-toolbar>
</ion-footer>