<ion-header>
  <header [title]="'headings.parentRegistry'|translate" [hideBack]="false">

  </header>
</ion-header>


<ion-content padding>
  <div>
    <button ion-button icon-start float-right clear color="primary" (click)="addParent()">
      {{'buttons.add'| translate}} {{'buttons.parent' | translate}}
    </button>
  </div>

  <div>
    <ion-list *ngIf="parentInfoList?.length" >
      <button ion-item *ngFor="let info of parentInfoList; let i= index" (click)="editParent(i)">
        {{ info?.name }} 
      </button>  
    </ion-list>
  </div>

  <div *ngIf="!parentInfoList?.length" class="_flex-box _justify-content-center noInfo">
    No parent info available
  </div>
</ion-content>

<ion-footer no-shadow *ngIf="showUploadBtn">
    <ion-toolbar class="_toolbar-background-md" position="bottom">
      <ion-row>
        <ion-col>
          <button ion-button  block  icon-start (click)="updateAllParents()">
            <ion-icon name="contacts" ></ion-icon>
            {{'buttons.parent' | translate}} {{'buttons.registry'| translate}} {{'buttons.update'| translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>