<!-- Generated template for the InputTypeComponent component -->
<ion-col class="_flex-box _justify-content-center _flex-direction-column ">
  <h4 *ngFor="let question of data.question">{{question}}</h4>
</ion-col>
<div>
  <ion-list>

    <ion-item *ngFor="let option of data?.options" text-wrap>
      <ion-label>{{option.label}}</ion-label>
      <ion-checkbox [checked]="data.value.includes(option.value)" (ionChange)="updateModelValue(option.value)"></ion-checkbox>
    </ion-item>

  </ion-list>
  <remarks *ngIf="data?.showRemarks" [data]="data"></remarks>
  <image-upload *ngIf="data?.file" [data]="data" [evidenceId]="evidenceId"></image-upload>

</div>

<div class="_footer">
  <ion-row>
    <ion-col>
      <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">Next <ion-icon name="arrow-forward"></ion-icon></button>
      <button ion-button icon-start float-right color="primary" (click)="next('completed')" *ngIf="isLast">
        <ion-icon name="filing"></ion-icon>Save
      </button>
    </ion-col>
  </ion-row>
</div>