<!-- Generated template for the InputTypeComponent component -->
<ion-col class="_flex-box _justify-content-center _flex-direction-column">
  <h4 [ngClass]="{'_validQuestion': data?.value?.length}" class="flexbox">
    <!-- <div class="noWrap">{{inputIndex}} .</div>
    <div padding-left>
      <div *ngFor="let question of data.question">
        {{question}}
      </div>
    </div> -->
    <question-heading
      [inputIndex]="inputIndex"
      [data]="data"
      [enableQuestionReadOut]="enableQuestionReadOut"
    ></question-heading>
  </h4>
</ion-col>
<div class="_tip _flex-box">{{data?.tip}}</div>

<div margin-top>
  <ion-list>
    <ion-item *ngFor="let option of data?.options" text-wrap>
      <ion-label class="_flex-box label" text-wrap>
        <ion-icon
          name="bulb"
          class="help"
          (click)="openHint(option?.hint)"
          *ngIf="option?.hint"
        ></ion-icon>
        <div
          style="flex: 1;"
          [ngStyle]="{'margin-right': option?.hint ? '35px' :'0px'}"
        >
          {{option?.label}}
        </div>
      </ion-label>
      <ion-checkbox
        [checked]="data?.value?.indexOf(option?.value) >-1"
        (ionChange)="updateModelValue(option?.value)"
        [disabled]="data.isEditable!=undefined && !data.isEditable"
      >
      </ion-checkbox>
      <!-- <ion-label>{{option?.label}}</ion-label> -->
    </ion-item>
  </ion-list>
  <!-- {{schoolId}} - {{evidenceId}} -->
  <remarks *ngIf="data?.showRemarks" [data]="data"></remarks>
  <image-upload
    [submissionId]="submissionId"
    [data]="data"
    [generalQuestion]="generalQuestion"
    [imageLocalCopyId]="imageLocalCopyId"
    [evidenceId]="evidenceId"
    [schoolId]="schoolId"
  ></image-upload>
</div>

<!-- <div class="_footer" *ngIf="!hideButton">
  <ion-row>
    <ion-col>
      <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">Next <ion-icon name="arrow-forward"></ion-icon></button>
      <button ion-button icon-start float-right color="primary" (click)="next('completed')" *ngIf="isLast">
        <ion-icon name="filing"></ion-icon>Save
      </button>
    </ion-col>
  </ion-row>
</div> -->
<!-- <div class="_footer" *ngIf="!hideButton">
    <ion-row>
      <ion-col>
        <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
          <ion-icon name="arrow-back"></ion-icon>{{'buttons.back'| translate}}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">{{'buttons.next'|
          translate}} <ion-icon name="arrow-forward"></ion-icon></button>
        <button ion-button icon-start float-right color="primary" (click)="next('completed')" *ngIf="isLast">
          <ion-icon name="filing"></ion-icon>{{'buttons.save'| translate}}
        </button>
      </ion-col>
    </ion-row>
  </div> -->

<!-- <footer-buttons *ngIf="!hideButton" [isFirst]="isFirst" [isLast]="isLast" (nextAction)="next()" (backAction)="back()"></footer-buttons> -->
