<ion-list class="wrapper">
  <button ion-item clear small padding-left class="_flex-box _justify-content-center" (click)="goToProfile()">
    <!-- <ion-icon name="eye" margin-left margin-right></ion-icon> -->
    {{'buttons.view'|translate}} {{'buttons.profile'|translate}}
  </button>
  <!-- <button ion-item clear small icon-end (click)="goToRating()">
    <ion-icon name="star" margin-right></ion-icon>
    {{'buttons.ratings'|translate}}
  </button>
  <button ion-item clear small icon-end (click)="goToFlaggin()">
    <ion-icon name="flag" margin-right></ion-icon>
    {{'buttons.flag'|translate}}
  </button> -->
  <!-- <button ion-item clear small padding-left (click)="goToRegistry('schoolLeader')" *ngIf="hideLeaderRegistry">
    <ion-icon name="contacts" margin-left margin-right></ion-icon>
     {{'buttons.Leader' | translate}} {{'buttons.registry'| translate}} 
  </button>
  <button ion-item clear small padding-left (click)="goToRegistry('teacher')" *ngIf="hideTeacherRegistry">
    <ion-icon name="contacts" margin-left margin-right></ion-icon>
     {{'buttons.Teacher' | translate}} {{'buttons.registry'| translate}}
  </button> -->
  <button *ngFor="let menuItem of showMenuArray" ion-item clear small padding-left (click)="goToRegistry(menuItem)" >
    <!-- <ion-icon name="contacts" margin-left margin-right></ion-icon> -->
     {{menuItem | camelcase }} {{'buttons.registry'| translate}}
  </button>
  <button ion-item clear small padding-left (click)="refreshSchoolData()">
      <!-- <ion-icon name="refresh-circle" margin-left margin-right></ion-icon> -->
      {{'buttons.refresh'| translate}} 
    </button>
    <button ion-item clear small padding-left (click)="feedback()" *ngIf="hideFeedback">
      <!-- <ion-icon name="chatboxes" margin-left margin-right></ion-icon> -->
      {{'buttons.feedback'| translate}} 
    </button>
</ion-list>