<ion-list class="wrapper">
  <button ion-item clear small icon-end class="_flex-box _justify-content-center" (click)="goToProfile()">
    <ion-icon name="eye" margin-right></ion-icon>
    <span>{{'buttons.view'|translate}} {{'buttons.profile'|translate}}</span>
  </button>
  <!-- <button ion-item clear small icon-end (click)="goToRating()">
    <ion-icon name="star" margin-right></ion-icon>
    {{'buttons.ratings'|translate}}
  </button>
  <button ion-item clear small icon-end (click)="goToFlaggin()">
    <ion-icon name="flag" margin-right></ion-icon>
    {{'buttons.flag'|translate}}
  </button> -->
</ion-list>