<ion-col class="_flex-box _justify-content-center _flex-direction-column">
  <h4 [ngClass]="{'_validQuestion': data?.value}" class="flexbox">
    <!-- <div class="noWrap">{{inputIndex}} .</div> <div padding-left>
      <div  *ngFor="let question of data.question"> 
      {{question}} 
    </div> 
    </div> -->
    <question-heading
      [inputIndex]="inputIndex"
      [data]="data"
      [enableQuestionReadOut]="enableQuestionReadOut"
    ></question-heading>
  </h4>
</ion-col>
<div class="_tip _flex-box">{{data?.tip}}</div>

<ion-list
  radio-group
  margin-top
  [(ngModel)]="data.value"
  text-wrap
  (ionchange)="checkForCompletion()"
  (ngModelChange)="checkForValidation()"
>
  <ion-item *ngFor="let option of data?.options">
    <ion-label class="_flex-box label" text-wrap>
      <ion-icon
        name="bulb"
        class="help"
        (click)="openHint(option?.hint)"
        *ngIf="option?.hint"
      ></ion-icon>
      <div
        style="flex: 1;"
        [ngStyle]="{'margin-left': option?.hint ? '35px' :'0px'}"
      >
        {{option?.label}}
      </div>
    </ion-label>
    <ion-radio
      value="{{option?.value}}"
      [disabled]="data.isEditable!=undefined && !data.isEditable"
    ></ion-radio>
  </ion-item>
</ion-list>
<remarks *ngIf="data?.showRemarks" [data]="data"></remarks>
<!-- {{data?.fileName?.length}} -->
<image-upload
  [submissionId]="submissionId"
  [data]="data"
  [generalQuestion]="generalQuestion"
  [imageLocalCopyId]="imageLocalCopyId"
  [evidenceId]="evidenceId"
  [schoolId]="schoolId"
></image-upload>
<!-- *ngIf="data.allowAudioRecording" -->
<!-- (audioAddedEvent)="updateData($event)" -->
<!-- <ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
          <ion-icon name="arrow-back"></ion-icon>Back
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">Next <ion-icon name="arrow-forward"></ion-icon></button>
        <button ion-button icon-start float-right color="primary" (click)="next('completed')" *ngIf="isLast"><ion-icon name="filing"></ion-icon>Save</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->

<!-- <div class="_footer" *ngIf="!hideButton">
  <ion-row>
    <ion-col>
      <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">Next <ion-icon name="arrow-forward"></ion-icon></button>
      <button ion-button icon-start float-right color="primary" (click)="next('completed')" *ngIf="isLast">
        <ion-icon name="filing"></ion-icon>Save
      </button>
    </ion-col>
  </ion-row>
</div> -->

<!-- <footer-buttons *ngIf="!hideButton" [isFirst]="isFirst" [isLast]="isLast" (nextAction)="next()" (backAction)="back()"></footer-buttons> -->
