page-solution-details {
    .disableOverLay {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 5;
        left: 0;
        right: 0;
        background: rgba(232, 236, 241, .3);
    }

    .caption {
        color: $primary-color;
    }
}
