<ion-header>
  <header
    [title]="'headings.questionnaire'|translate"
    [disableNetwork]="true"
    [hideBack]="false"
    [enableDashboard]="true"
    [dashbordData]="dashbordData"
    (onDashboardOpen)="setModalRefernc($event)"
  ></header>
</ion-header>

<ion-content padding class="_questioner-padding" #pageTop>
  <div class="disableOverLay" *ngIf="isCurrentEvidenceSubmitted || isViewOnly "></div>
  <div class="_container" id="stop" *ngIf="submissionId">
    <ng-container *ngFor="let question of questions| slice:start:end; let i=index">
      <ng-container [ngSwitch]="question.responseType.toLowerCase()">
        <input-type
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [submissionId]="submissionId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          *ngSwitchCase="'text'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        ></input-type>
        <input-type
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [submissionId]="submissionId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          *ngSwitchCase="'number'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        ></input-type>
        <radio-type
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [submissionId]="submissionId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          *ngSwitchCase="'radio'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        ></radio-type>
        <date-type
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [submissionId]="submissionId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          *ngSwitchCase="'date'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        ></date-type>
        <multiple-choice-type
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          [submissionId]="submissionId"
          *ngSwitchCase="'multiselect'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        ></multiple-choice-type>
        <matrix-type
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          [submissionId]="submissionId"
          (updateLocalData)="updateLocalData()"
          *ngSwitchCase="'matrix'"
          [enableGps]="captureGpsLocationAtQuestionLevel"
          [enableQuestionReadOut]="enableQuestionReadOut"
        >
        </matrix-type>
        <page-question
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          [submissionId]="submissionId"
          (updateLocalData)="updateLocalData()"
          *ngSwitchCase="'pagequestions'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        >
        </page-question>
        <slider
          [inputIndex]="start + 1"
          [evidenceId]="selectedEvidenceId"
          [submissionId]="submissionId"
          [schoolId]="schoolId"
          [data]="question"
          [imageLocalCopyId]="localImageListKey"
          *ngSwitchCase="'slider'"
          [enableQuestionReadOut]="enableQuestionReadOut"
        ></slider>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
<footer-buttons
  *ngIf="questions"
  [updatedData]="questions[start]"
  [data]="questions[start]"
  [isFirst]="!start"
  [enableGps]="captureGpsLocationAtQuestionLevel"
  [isSubmitted]="isCurrentEvidenceSubmitted"
  [isLast]="questions?.length === end"
  [completedQuestionCount]="countCompletedQuestion"
  [questionCount]="questions?.length"
  (nextAction)="next()"
  (backAction)="back()"
  (openSheetAction)="openActionSheet()"
>
</footer-buttons>
