<!-- Generated template for the AudioRecordingListingComponent component -->
<ion-card>
  <ion-card-content>
    <ion-row *ngIf="!recording">
        <button ion-button primary (click)="startRecord()">
          <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record
        </button>
    </ion-row>
    <ion-row *ngIf="recording" class="_flex-box _justify-content-space-between">
        <button ion-button primary (click)="stopRecord()">
          <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record
        </button>
     
       <h1>
         <span *ngIf="minutes < 10">0</span>{{minutes}} :  <span *ngIf="seconds < 10">0</span>{{seconds}}
       </h1>
    </ion-row>
  </ion-card-content>
</ion-card>
<!-- <ion-list>

  <span *ngFor="let audio of allLocalImageList; index as i;">
    <audio-list (audioPlay)="playAudio($event)" [audioList]="audio"></audio-list>
  </span>
  <ion-item *ngFor="let audio of audioList; index as i;">
    <p>{{audio.filename}}</p>
    <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon  *ngIf="!playFlag" name="play"></ion-icon><ion-icon  *ngIf="playFlag" name="pause"></ion-icon></button>
  </ion-item>
</ion-list> -->