<ion-header>
  <header [title]="'headings.myEntities'|translate" [hideBack]="false"></header>
</ion-header>

<ion-content padding>
  <div
    *ngFor="let entity of program?.solutions[solutionIndex]?.entities; let i = index"
  >
    <ion-card>
      <ion-item text-wrap>
        <div class="_flex-box">
          <div
            style="flex: 1;"
            (click)="entity?.downloaded ? goToEcm(entity?.submissionId,entity?.name,entity?._id) : getAssessmentDetails(i)"
          >
            {{entity.name}}
          </div>
          <ion-icon
            padding-right
            padding-left
            name="cloud-download"
            class="downloadIcon"
            (click)="getAssessmentDetails(i)"
            *ngIf="!entity?.downloaded"
          ></ion-icon>
          <ion-icon
            padding-right
            padding-left
            name="more"
            class="menuIcon"
            (click)="openMenu($event,i)"
            *ngIf="entity?.downloaded "
          ></ion-icon>
        </div>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
