question-heading {
    .flexbox{
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }
    .noWrap{
        white-space: nowrap;
        width: fit-content;
        
    }
    .wrapText{
        white-space:wrap;
    }
}
