<ion-header>
  <header [title]="registryType+' Registry'" [hideBack]="false">

  </header>
</ion-header>


<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="refreshParentListClick($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <button ion-button icon-start float-right color="primary" (click)="refreshParentListClick()">
      {{'buttons.refresh' | translate}}
    </button>
    <button ion-button icon-start float-right color="primary" (click)="addRegistryItem()">
      {{'Add '+registryType}} 
    </button>
  </div>

  <div style="margin-bottom: 60px !important">
    <ion-list *ngIf="registryList?.length">
      <button ion-item *ngFor="let info of registryList">
        {{ info?.name }}
      </button>
    </ion-list>
  </div>

  <div *ngIf="!registryList?.length" class="_flex-box _justify-content-center noInfo">
    No data available
  </div>
</ion-content>

<ion-footer no-shadow *ngIf="showUploadBtn">
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button block icon-start (click)="updateAllParents()">
          <ion-icon name="contacts"></ion-icon>
          {{'buttons.'+registryType | translate}} {{'buttons.registry'| translate}} {{'buttons.update'| translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>