<!-- <div class="_footer">
  <ion-row>
    <ion-col>
      <button ion-button icon-start color="light" (click)="back()" *ngIf="!isFirst">
        <ion-icon name="arrow-back"></ion-icon>{{'buttons.back'| translate}}
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-end float-right color="light" (click)="next()" *ngIf="!isLast">{{'buttons.next'|
        translate}} <ion-icon name="arrow-forward"></ion-icon></button>
      <button ion-button icon-start float-right color="light" (click)="next('completed')" *ngIf="isLast">
        <ion-icon name="filing"></ion-icon>{{'buttons.save'| translate}}
      </button>
    </ion-col>
  </ion-row>
</div> -->

<ion-footer no-shadow >
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <button ion-button icon-start color="light" (click)="enableGps ? gpsFlowChecks('back') :back()" *ngIf="!isFirst">
          <ion-icon name="arrow-back"></ion-icon>{{'buttons.back'| translate}}
        </button>
      </ion-col>
      <ion-col style=" margin: auto;">
        <!-- {{completedQuestionCount}} {{questionCount}} -->
        <progress-bar [progress] = "percentage" [total]="questionCount" [showTracker]="true" [completed]="completedQuestionCount" class="_full-width"  *ngIf="completedQuestionCount!=questionCount"></progress-bar>
        <button ion-button round small  *ngIf="completedQuestionCount==questionCount" (click)="openAction()">Submit<ion-icon name="arrow-dropup-circle" style="padding: 0 9px;"></ion-icon></button>
      </ion-col>
      <ion-col>
        <button ion-button icon-end float-right color="light" (click)="enableGps ? gpsFlowChecks('next') : next()" *ngIf="!isLast">{{'buttons.next'|
          translate}} <ion-icon name="arrow-forward"></ion-icon></button>
        <button ion-button icon-start float-right color="light" (click)="enableGps ? gpsFlowChecks('next', 'completed') :next('completed')" *ngIf="isLast">
          <ion-icon name="filing"></ion-icon>{{'buttons.save'| translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>