<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'headings.uplaod' | translate}} {{'headings.images' | translate}}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="_flex-box  fullContainer _justify-content-center _flex-direction-column" margin-top >

    <!-- <div class="_cards _flex-box  _justify-content-center" *ngFor="let image of imageList; let i = index">
      <div class="_overlay"></div>
      <img src="{{image?.data}}">
      <span class="doneMark _flex-box _justify-content-center" *ngIf="image.uploaded">
        <ion-icon name="checkmark" ></ion-icon>
      </span>
      <ion-spinner name="crescent" *ngIf="!image.uploaded" class="customSpin"></ion-spinner>

    </div> -->
    <ion-icon name="cloud-upload" margin class="uploadIcon"></ion-icon>

    <!-- <div class="_flex-box uploadMsg"> Please Wait ...
    </div> -->
    <div class="_flex-box uploadMsg">
      Uploading
    </div>
    <div class="_flex-box uploadMsg" margin-top *ngIf="imageList?.length">
      {{uploadIndex + 1}} of {{imageList.length}} images.
    </div>
    <div class="_flex-box" margin-top>Please don't close the app or go back.</div>
  </div>

</ion-content>