<ion-header>
  <header [title]="'headings.surveyEcm'|translate" [hideBack]="false">

  </header>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <button ion-item *ngFor="let evidence of schoolEvidences; let i= index" (click)="navigateToEvidence(i)">
      {{ evidence?.name }}
    </button>
  </ion-list> -->

  <ion-item-group>
    <ion-item-divider color="light">
      <h3 class="headerText">
        <ion-icon name="book" margin-right></ion-icon> {{schoolName}}
      </h3>
    </ion-item-divider>
    <button ion-item [disabled]="evidence?.notApplicable" *ngFor="let evidence of schoolEvidences; let i= index" (click)="navigateToEvidence(i)">
      <h3>
        <ion-icon name="albums" margin-right></ion-icon>{{ evidence?.name }}
        <span float-right *ngIf="evidence.progressStatus === 'completed' && !evidence?.notApplicable" class="_completed _flex-box">
            {{'labels.completed'|translate}} <ion-icon name="checkmark-circle" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="!evidence.progressStatus && !evidence?.notApplicable && !isIos" class="_flex-box">
          <ion-icon name="arrow-forward" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'inProgress' && !evidence?.notApplicable" class="_inProgress _flex-box">
            {{'labels.inprogress'|translate}} <ion-icon name="contrast" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'submitted' && !evidence?.notApplicable" class="_submitted _flex-box">
          {{'labels.submitted'|translate}} <ion-icon name="cloud-done" class="_progressIcon" margin-left></ion-icon>
      </span>
      <span float-right *ngIf="evidence?.notApplicable" class="_na _flex-box">
        {{'labels.notApplicable'|translate}} <ion-icon name="alert" class="_progressIcon" margin-left></ion-icon>
    </span>
        
        <!-- <span float-right *ngIf="!evidence.progressStatus" class="_flex-box doneIcon">
          Start <ion-icon name="arrow-dropright-circle" class="startIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'submitted'" class="_flex-box startSurvey">
          Submitted <ion-icon name="cloud-done" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'inProgress'" class="_flex-box startSurvey">
          In Progress <ion-icon name="cloud-done" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'completed'" class="_flex-box startSurvey">
          Completed <ion-icon name="cloud-done" margin-left></ion-icon>
        </span> -->
      </h3>
    </button>
    <button ion-item (click)="goToGeneralQuestionList()" *ngIf="generalQuestions && generalQuestions?.length">
        <ion-icon name="albums" margin-right></ion-icon> General Questions
      </button>
  </ion-item-group>



  <!-- <div padding class="_tips">Tip: Please select an evidence method  to continue.</div> -->

</ion-content>