<!--
  Generated template for the EvidenceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <div class="_flex-box">
      <ion-title>{{'headings.survey'|translate}} - {{'headings.evidenceMethods'|translate}}</ion-title>
      <ion-icon name="chatboxes" isActive="true" class="feedBack" (click)="feedBack()" margin-right float-right></ion-icon>

    </div>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-list>
    <button ion-item *ngFor="let evidence of schoolEvidences; let i= index" (click)="navigateToEvidence(i)">
      {{ evidence?.name }}
    </button>
  </ion-list> -->

  <ion-item-group>
    <ion-item-divider color="light">
      <h3 class="headerText">
        <ion-icon name="book" margin-right></ion-icon> {{schoolName}}
      </h3>
    </ion-item-divider>
    <ion-item *ngFor="let evidence of schoolEvidences; let i= index" (click)="navigateToEvidence(i)">
      <h3>
        <ion-icon name="albums" margin-right></ion-icon>{{ evidence?.name }}
        <span float-right *ngIf="evidence.progressStatus === 'completed'" class="_completed _flex-box">
            {{'labels.completed'|translate}} <ion-icon name="checkmark-circle" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="!evidence.progressStatus" class="_flex-box">
          <ion-icon name="arrow-forward" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'inProgress'" class="_inProgress _flex-box">
            {{'labels.inprogress'|translate}} <ion-icon name="contrast" class="_progressIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'submitted'" class="_submitted _flex-box">
            {{'labels.submitted'|translate}} <ion-icon name="cloud-done" class="_progressIcon" margin-left></ion-icon>
        </span>
        <!-- <span float-right *ngIf="!evidence.progressStatus" class="_flex-box doneIcon">
          Start <ion-icon name="arrow-dropright-circle" class="startIcon" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'submitted'" class="_flex-box startSurvey">
          Submitted <ion-icon name="cloud-done" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'inProgress'" class="_flex-box startSurvey">
          In Progress <ion-icon name="cloud-done" margin-left></ion-icon>
        </span>
        <span float-right *ngIf="evidence.progressStatus === 'completed'" class="_flex-box startSurvey">
          Completed <ion-icon name="cloud-done" margin-left></ion-icon>
        </span> -->
      </h3>
    </ion-item>
  </ion-item-group>



  <!-- <div padding class="_tips">Tip: Please select an evidence method  to continue.</div> -->

</ion-content>